/*--------------------------------
    タームバッジ
--------------------------------*/
.c-label-term {
	padding: 5px 10px 5px;
    font-size: em(14,16);
    line-height: 1;
    width: 110px;
    text-align: center;
    outline: 1px solid transparent;
    outline-offset: -1px;
	background-color: var( --color_main );
	color: #fff;
    transition: .25s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;
    &:focus,
    &:hover {
        opacity: 0.6;
    }
}