/*--------------------------------
 *  タームバッジ
--------------------------------*/
.c-label-term {
	padding: 5px;
    font-size: em(14,16);
    line-height: 1;
    width: 100px;
    text-align: center;
    border: 1px solid #000;
	color: initial;
    transition: .25s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;
    &:focus,
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

/*------ 未分類 -------*/
.c-label-term.--null {
    pointer-events: none;
    border-color: #bbb;
    background-color: #bbb;
    color: #fff;
}

/*--------------------------------
 *  詳しく見る
--------------------------------*/
.c-label-more {
    display: flex;
    width: fit-content;
    column-gap: em(10);
    align-items: center;
    line-height: 1;
    &:focus,
    &:hover {
        &::after {
            transform: translateX(4px);
        }
    }
}

.c-label-more::after {
    width: em(24);
    height: em(24);
    content: '';
    background-image: url('./img/icon/ic_01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .25s;
}