/*--------------------------------
    サイトロゴ（白）
--------------------------------*/
.c-logo-white__link {
	display: block;
	width: fit-content;
}

.c-logo-white__img {
	display: block;
	width: auto;
	height: 48px;
}