/*--------------------------------
    NEWS
--------------------------------*/
.p-card__unit {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
	font-size: 16px;
	@include media(smmd) {
        row-gap: 15px;
    }
}

.p-card {
    padding: 20px 40px;
	display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
	align-items: center;
    background-color: #fff;
    border-radius: 9999px;
    position: relative;
    transition:  transform .25s;
    @include media(lg) {
        &:focus,
        &:hover {
            transform: translateX(10px);
        }
    }
    @include media(smmd) {
        border-radius: 10px;
        padding: 20px 30px;
        grid-template-columns: 100%;
		column-gap: unset;
        row-gap: 10px;
        &:active {
            transform: scale(.95);
        }
    }
}

.p-card__layer {
    @include layer;
}

.p-card__inner {
    &.--meta {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
    }
    &.--article {
        min-width: 0;
    }
}

.p-card__date {
    font-size: inherit;
    font-family: $ff_oswald;
}

.p-card .c-label-term {
    position: relative;
    z-index: 3;
}

.p-card__ttl {
    font-size: inherit;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;
    &:focus,
    &:hover {
        color: var( --color_main );
    }
}

/*--------------------------------
 *  BLOG
--------------------------------*/
.p-card-blog__unit {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    @include media(md) {
        grid-template-columns: repeat(3,1fr);
    }
    @include media(sm) {
        gap: 20px 10px;
        grid-template-columns: repeat(2,1fr);
    }
}

.p-card-blog {
    padding: 10px;
    padding-bottom: 35px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px rgba(#000, .3);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .25s;
    @include media(sm) {
        padding-bottom: 20px;
    }
    &:active {
        box-shadow: none;
        transform: translateY(5px);
    }
}

.p-card-blog__layer {
    @include layer;
    @include media(lg) {
        &:focus,
        &:hover {
            ~ .p-card-blog__img img {
                transform: scale(1.2);
            }
            ~ .c-label-more::after {
                transform: translateX(4px);
            }
        }
    }
}

.p-card-blog__img {
    @include fluid(260,164);
    img {
        transition: .25s;
    }
}

.p-card-blog__title {
    margin-top: em(20);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    @include media(sm) {
        margin-top: 10px;
        font-size: 14px;
    }
}

.p-card-blog .c-label-more {
    margin-top: em(30);
    align-self: center;
    pointer-events: none;
    @include media(sm) {
        margin-top: 15px;
        font-size: 14px;
    }
}

/*--------------------------------
    テナント
--------------------------------*/
.p-card-tenant__unit {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: percentage(40/1128);
    @include media(md) {
        grid-template-columns: repeat(2,1fr);
    }
    @include media(sm) {
        grid-template-columns: 100%;
    }
}

.p-card-tenant {
    padding: em(20) 0;
    line-height: $lh_tight;
    border-bottom: 1px dashed #000;
    font-size: 16px;
}

.p-card-tenant__title {
    padding-right: 2em;
    display: block;
    line-height: inherit;
    position: relative;
    &::after {
        content: '';
        width: 1.5em;
        height: 1.5em;
        background-image: url('./img/icon/ic_01.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: .25s;
        position: absolute;
        top: 0;
        right: 0;
    }
    &:focus,
    &:hover {
        &::after {
            transform: translateX(4px);
        }
    }
}

.js-search-card {
    display: none;
}

.js-search-card.is-show {
    display: block;
}


/*--------------------------------
    検索結果
--------------------------------*/
.p-card-search__unit {
	border-top: 1px solid #ddd;
}

.p-card-search {
	padding: 1em .25em;
	font-size: rem(16);
	position: relative;
	border-bottom: 1px solid #ddd;
	@include media(sm) {
		font-size: rem(14);
	}
}

.p-card-search__layer {
	@include layer;
	&:focus,
	&:hover {
		~ .p-card-search__inner .p-card-search__ttl {
			color: var( --color_main );
		}
	}
}

.p-card-search__inner {
	&.--head {
		margin-bottom: 1em;
	}
}

.p-card-search__ttl {
	line-height: 1.5;
	font-weight: bold;
	transition: .25s;
}

/*--------------------------------
    記事が存在しない場合
--------------------------------*/
.p-card-not {
	padding: 2em 1em;
	background-color: #efefef;
	border: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-card-not__txt {
	font-size: rem(16);
	font-weight: bold;
	color: #BBB;
}