/*--------------------------------
	コンタクトフォーム
--------------------------------*/
.p-form-contact {
	width: 100%;
	line-height: 1.5;
	vertical-align: middle;
}

tr:not(:last-child) {
	.p-form-contact__th,
	.p-form-contact__td {
		padding-bottom: 40px;
	}
}

.p-form-contact tr {
	th.p-form-contact__th,
	td.p-form-contact__td {
		border: none;
		&::before {
			content: none;
		}
	}
}


@include media(sm) {
	table.p-form-contact {
		.p-form-contact__th {
			padding-bottom: 20px;
			padding-right: 0;
			display: block;
			width: 100%;
		}
		.p-form-contact__td {
			padding-bottom: 40px;
			display: block;
			width: 100%;
		}
	}
}
	
.p-form-contact__th {
	padding-right: 1em;
	white-space: nowrap;
	text-align: left;
	width: 1%;
	vertical-align: inherit;
}

.p-form-contact__td {
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="date"],
	input[type="email"],
	select,
	textarea {
		padding: .5em;
		width: 100%;
	}
	input[aria-required="true"],
	select[aria-required="true"] {
		transition: background-color .25s;
		background-color: #ffcfcf;
		&:not(:placeholder-shown) {
			background-color: transparent;
		}
	}
}

.p-form-contact {
	// 全て入力要素
	.wpcf7-form-control-wrap {
		display: block;
	}
	
	// ラジオボタン、チェックボックス
	.wpcf7-checkbox,
	.wpcf7-radio {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
	.wpcf7-list-item {
		margin: 0;
		> label {
			display: inline-flex;
			align-items: center;
			column-gap: .5em;
		}
	}
}

span.wpcf7-not-valid-tip {
	display: none; // Contact Form 7のエラーは非表示に.
}

.formError,
.formError * {
	box-sizing: content-box;
}

select.drop {
	background-image: url('../img/icon/drop.svg');
	background-position: right .5em center;
	background-repeat: no-repeat;
	background-size: auto 1em;
}

/*------ ボックス -------*/
.p-form-box {
	margin-top: 60px;
	@include media(sm) {
		margin-top: 0; 
	}
}

.p-form-box__title {
	margin-bottom: 1em;
	font-size: rem(20);
	text-align: center;
	font-weight: bold;
}

.p-form-box__note {
	margin: 0 auto;
    padding: 1em;
    max-width: 100%;
    height: 200px;
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.5;
    overflow-y: auto;
	border: 1px solid #ccc;
}

#p-form-box .p-form-box__note {
	* {
		font-size: rem(12);
	}
	h2 {
		font-size: rem(14);
	}
}

.p-form-box__agree {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5em;
	line-height: 1;
	.wpcf7-list-item {
		margin: 0;
		display: block;
		line-height: 10px;
	}
	@include media(sm) {
		font-size: rem(14);
	}
}

/*------ ラベル -------*/
.c-label-inquiry {
    margin-right: .5em;
    padding: .25em;
    color: #fff;
    font-weight: 500;
    &.--require {
        background-color: #ff4646;
    }
    &.--free {
        background-color: #b5b5b5;
    }
}

/*------ 送信ボタン -------*/
#submit.c-btn-submit {
    margin: 0 auto;
    margin-top: 40px;
    padding: .5em 1em;
    color: #FFF;
    line-height: 1.15;
    display: block;
    width: 200px;
    text-align: center;
    background-color: var(--color_htag);
    border: none;
    transition: .25s;
    &:focus,
    &:hover {
        opacity: .8;
    }
    &:disabled {
        background-color: #b5b5b5!important;
        opacity: 1;
    }
}

/*--------------------------------
 *  検索フォーム
--------------------------------*/
.p-form-search {
	margin: 0 auto;
	margin-top: 60px;
	width: 780px;
	max-width: 100%;
	position: relative;
	display: block;
	font-size: 16px;
	@include media(sm) {
		margin-top: 45px;
	}
}

.p-form-search__input {
	padding: em(14) em(70) em(14) em(30);
	display: block;
	line-height: 1;
	width: 100%;
	font-size: inherit;
	border: 2px solid #000;
	border-radius: 9999px;
	background-color: #fff;
	&::placeholder {
		color: #CFCFCF;
	}
}

.p-form-search__button {
	font-size: em(24);
	line-height: 1;
	padding: em(8,24);
	border: none;
	position: absolute;
	background-color: transparent;
	right: em(22,24);
	top: 50%;
	transform: translateY(-50%);
	transition: .25s;
	&:active {
		transform: scale(.9) translateY(-50%);
	}
}