.p-mainVisual {
    width: 100%;
    background-size: contain;
    background-position: center top var(--swl-adminbarH,0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    aspect-ratio: 1600/720;
}