.p-spMenu__inner {
    width: 100vw;
    color: #fff;
    &::before {
        background-image:
            linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
            url('./img/picture/pi_02.jpg');
        background-size: cover;
        background-position: center;
    }
}

.-right .p-spMenu__inner {
    transform: translateX(100vw);
}

[data-spmenu=opened] .p-spMenu__inner {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.p-spMenu__closeBtn .c-iconBtn__icon {
    font-size: 24px;
    &::before {
        font-weight: 600;
    }
}

.p-spMenu__body {
    padding-top: 40px;
}

.p-spMenu__nav {
    margin: 0;
}