/*--------------------------------
 *  CTA
--------------------------------*/
.l-sect-cta {
    padding-top: 60px;
    padding-bottom: 80px;
    @include media(sm) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.l-sect-cta__title {
    font-size: 32px;
    margin-bottom: 40px;
    line-height: 1;
    text-align: center;
    @include media(sm) {
        font-size: 24px;
    }
}

.l-sect-cta__desc {
    text-align: center;
    font-size: 16px;
}

.l-sect-cta .c-btn {
    margin: 0 auto;
    margin-top: 40px;
    @include media(sm) {
        margin-top: 30px;
    }
}

/*--------------------------------
 *  ホーム
--------------------------------*/
/*------ 共通 -------*/
.l-sect-home {
    padding-top: 1px;
    padding-bottom: 100px;
    @include media(sm) {
        padding-bottom: 60px;
    }
}

/*------ FV -------*/
.l-sect-fv {
    @include contentAreaFullWidth;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 375/506;
}

/*------ NEWS -------*/
.l-sect-news {
    padding-top: 70px;
    display: flex;
    column-gap: cw(100);
    @include media(sm) {
        padding-top: 40px;
        display: block;
    }
}

.l-sect-news__col.--right {
    flex: 1;
}

.l-sect-news .c-label-more {
    @include media(sm) {
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
    }
}

/*------ AREA MAP 両替町マップ -------*/
.l-sect-areaMap {
    @include contentAreaFullWidth(both);
    background-image: url('./img/texture/tx_04.jpg');
}

.l-sect-areaMap__inner {
    margin: 0 auto;
    max-width: 980px;
}

.l-sect-areaMap .c-heading-lv2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -.5em;
}

.l-sect-areaMap__map {
    margin: 0 auto;
    width: 980px;
    max-width: 100%;
    @include frame;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.l-sect-areaMap__inner .c-btn {
    margin-top: 60px;
    width: 100%;
    @include media(sm) {
        margin-top: 30px;
    }
}

/*------ CHARM 魅力 / HISTORY 歴史 -------*/
.l-sect-charmHistory {
    @include contentAreaFullWidth(both);
    padding-top: 0!important;
    padding-bottom: 0!important;
    display: flex;
    @include media(sm) {
        display: block;
    }
}

.l-sect-charmHistory__col {
    padding-top: 1px;
    padding-bottom: 80px;
    flex: 1;
    @include media(sm) {
        padding-bottom: 60px;
    }
    &.--charm {
        margin-left: calc(50% - 50vw);
        padding-left: calc(50vw - 50%);
        padding-right: cw(120);
        background-image: url('./img/texture/tx_02.jpg');
        @include media(sm) {
            margin-right: calc(50% - 50vw);
            padding-right: calc(50vw - 50%);
        }
    }
    &.--history {
        margin-right: calc(50% - 50vw);
        padding-right: calc(50vw - 50%);
        padding-left: cw(120);
        background-image: url('./img/texture/tx_05.jpg');
        @include media(sm) {
            margin-left: calc(50% - 50vw);
            padding-left: calc(50vw - 50%);
        }
    }
    display: flex;
    flex-direction: column;
}

.l-sect-charmHistory__col .c-heading-lv2 {
    margin-top: -.5em;
    @include media(sm) {
        margin-left: auto;
        margin-right: auto;
    }
}

.l-sect-charmHistory__img {
    @include fluid(560,346);
    @include frame;
}

.l-sect-charmHistory__desc {
    margin-top: em(30);
    font-size: 16px;
    flex: 1;
    @include media(sm) {
        margin-top: 20px;
    }
}

.l-sect-charmHistory .c-btn {
    margin-top: 40px;
    align-self: center;
    @include media(sm) {
        margin-top: 30px;
    }
}

/*------ BLOG 活動記録 -------*/
.l-sect-blog {
    padding-top: 70px;
    @include media(sm) {
        padding-top: 1px;
    }
}

.l-sect-blog__title {
    margin-bottom: em(48,64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: cw(64);
    @include media(sm) {
        margin-bottom: 30px;
    }
    .c-label-more {
        font-size: 16px;
    }
}

.l-sect-blog .c-heading-lv2 {
    margin-bottom: 0;
    @include media(sm) {
        margin-top: -.5em;
        margin-left: auto;
        margin-right: auto;
    }
}

.l-sect-blog .c-label-more {
    @include media(sm) {
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
    }
}

/*------ ABOUT 発展会概要 -------*/
.l-sect-about {
    @include contentAreaFullWidth(both);
    background-image: url('./img/texture/tx_03.jpg');
}

.l-sect-about .c-heading-lv2 {
    margin-top: -.5em;
    @include media(sm) {
        margin-left: auto;
        margin-right: auto;
    }
}

.l-sect-about .c-map {
    margin-top: 60px;
}